@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

#landing{
    background-color: #f0eef4;
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
}

nav {
    padding-top: 32px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 96px 0;
}

.purple {
    color:#6415ff
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

/* NAVIGATION BAR */

.nav__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display:flex;
    align-items: center;

}

.nav__logo--img {
    max-width: 40px;
    
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 10px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-weight: 600;
    color: #243e63;
    position: relative;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: #6415ff;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  transition: all 300ms ease;
}

.login {
    margin-left:48px
}


.nav__link--primary {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 999px;
    padding: 10px 32px;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #4a0acb;

}


/* HEADER SECTION */


.header__description {
    max-width: 600px;
    width: 40%;
    margin-top: 64px;
    flex: 0 0 40%;
}

.header__description--para {
    margin: 32px 0;
    line-height: 1.5;
    font-size: 18px;
}

.header__email {
    max-width: 500px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;


}

.header__form {
    display:flex;
    border: 3px solid #cccccc;
    border-radius: 500px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width:100%;
    transition: border-color 300ms ease;
}

.header__form--input {                     
  flex:1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 24px 24px 24px 32px;
  font-size: 16px;
  
}

.header__form:hover {
    border-color:#a0aec0;
}

.header__form:focus-within {
    border-color: #6415ff;
}



.header__form--btn {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 500px;
    padding: 0 32px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header__form--btn:hover {
    background-color: #3a00ae;
}

.header__customers--title {
    margin: 80px 0 16px;
    font-size: 12px;
    font-weight: 700;
    color:#a0aec0;
}

.header__customers--img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: 64px;
    opacity: 0.5;

}

.header__img--wrapper {
    flex: 0 0 60%;         
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}

.header__img {
    max-width:80%;
    width:auto;
    height: auto;
    display:block;
}


/* FEATURES SECTION */

#features{
    padding: 0 32px;
}

.row__features {
    max-width: 1200px;
    margin: 0 91px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section__tag{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color:#6415ff
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 16px 0;
}

.section__para {
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color:#7C8BA1;
}

.features {
    margin-top: 40px;
    display:flex;
    flex-wrap: wrap;
}

.feature {
    display:flex;
    width: calc(33.33%)
}

.feature__row {
    display:flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display:flex;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e6ea;
    border-radius: 100px;
}

.feature__text {
    margin: 8px 0 0 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    color:#7C8BA1;
}


/* QUALITY SECTION */

#quality{
    background-color: #f9fafb;
    padding: 0 32px;
}



.quality__description {
   width: 50%;
   display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 64px;
}

.quality__description h4,
.quality__description h2,
.quality__description .section__para {
  text-align: left;
}

.section__para {
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    margin-top: 32px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #4a0acb;
}

.quality__img--wrapper {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    
}

.quality__img {
width: 100%;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: -1;
  display: block;
}


/*  STEPS SECTION */

#steps{
    padding: 0 32px;
}

.steps__img--wrapper,
.steps__description {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.steps__img--wrapper {
    display:flex;
    position: relative;
    overflow: visible;
}

.steps__img {
    width:100%;
    display: block;
    z-index: 1;
}

.steps__grid {
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;   /* scales with parent width */
  max-width: 10rem; /* optional cap */
  height: auto;
  z-index: 0;

}

.steps__description {
    padding: 32px 0 32px 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #b9c4d4;
    line-height: 1;
}

.step__description {
    display:flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

.step__para {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color:#7C8BA1;
}

.section__title {
    text-align: left;
}


/* VALUES SECTION */

#values{
    padding: 0 32px;
    background-color: #f9fafb;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__description {
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 64px 32px 0;
}

.values__img {
    width: 50%;
}

.section__para {
    display:flex;
    line-height: 1.625;
    text-align: left;
}

.values__list {
    display:flex;
    
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display:flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__para {
    margin-top: 16px;
    font-size: 16px;
    color: #7C8BA1;
    line-height: 1.625;
}

#values .btn {
    margin-top: 48px;
}


/* PRICING SECTION */

