@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

#landing{
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
}

nav {
    padding-top: 32px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 96px 0;
}

.purple {
    color:#6415ff
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

/* NAVIGATION BAR */

.nav__container {
    padding-left: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display:flex;
    align-items: center;

}

.nav__logo--img {
    max-width: 40px;
    
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 10px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-weight: 600;
    color: #243e63;
    position: relative;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: #6415ff;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  transition: all 300ms ease;
}

.login {
    margin-left:48px
}


.nav__link--primary {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 999px;
    padding: 10px 32px;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #4a0acb;

}


/* HEADER SECTION */


.header__description {
    max-width: 600px;
    width: 40%;
    margin-top: 64px;
    flex: 0 0 40%;
}

.header__description--para {
    margin: 32px 0;
    line-height: 1.5;
    font-size: 18px;
}

.header__email {
    max-width: 500px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;


}

.header__form {
    display:flex;
    border: 3px solid #cccccc;
    border-radius: 500px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width:100%
    transition: border-color 300ms ease;
}

.header__form--input {                     
  flex:1;
  border: none;
  outline: none;
  padding: 24px 24px 24px 32px;
  font-size: 16px;
  
}

.header__form:hover {
    border-color:#a0aec0;
}

.header__form:focus-within {
    border-color: #6415ff;
}



.header__form--btn {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 500px;
    padding: 0 32px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header__form--btn:hover {
    background-color: #3a00ae;
}

.header__customers--title {
    margin: 80px 0 16px;
    font-size: 12px;
    font-weight: 700;
    color:#a0aec0;
}

.header__customers--img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: 64px;
    opacity: 0.5;

}

.header__img--wrapper {
    flex: 0 0 60%;         
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}

.header__img {
    max-width:100%;
    width:auto;
    height: auto;
    display:block;
}


