@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

#landing{
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    padding-top: 32px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 96px 0;
}

.purple {
    color:#6415ff
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

/* NAVIGATION BAR */

.nav__container {
    padding-left: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display:flex;
    align-items: center;

}

.nav__logo--img {
    max-width: 40px;
    
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 10px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-weight: 600;
    color: #243e63;
    position: relative;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: #6415ff;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  transition: all 300ms ease;
}

.login {
    margin-left:48px
}


.nav__link--primary {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 999px;
    padding: 10px 32px;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #4a0acb;

}


/* HEADER SECTION */

.row {
    display:flex;
    
}

.header__description--para {
    margin: 32px 0;
}

.header__form {
    display: flex;
    border: 3px solid #cccccc;
    border-radius: 999px;
    overflow: hidden;
}

.header__form--input {                     
  border: none;                 
  padding: 5px 16px;
  font-size: 16px;
}

.header__form--btn {
    background-color: #6415ff;
    color:white;
    border: none;
    border-radius: 999px;
    padding: 5px 20px;
    font-weight: 600;
    cursor: pointer;
}

.header__customers--title {
    margin: 80px 0 16px;
    font-size: 12px;
    font-weight: 700;
    color:#a0aec0;
}


